.loadDiv{
  border: 1px solid red;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.loading-spinner {
  @apply border-[3px] border-white border-solid;
  @apply border-t-[3px] border-t-primary;
  @apply rounded-[50%] self-center;
  width: 20px;
  height: 20px;
  animation: spinner 1s linear infinite;
}