.section-header{
  @apply text-xl font-medium;
}

.div-charts{
  @apply flex justify-center mb-4 flex-wrap;
  @apply sm:justify-between sm:m-auto;
  
  & > .card {
    @apply flex flex-col flex-1 justify-between items-center;
    @apply m-2 p-[.75rem] duration-300 ease-in-out transition-all bg-white;
    @apply hover:scale-105;

    &:first-child{
      @apply sm:ml-0;
    }

    &:last-child{
      @apply sm:mr-0;
    }

    &.chart-card{
      @apply max-w-xs;
      @apply sm:max-w-none;
    }
  }
}

.card-title{
  @apply block text-center mt-2;
}

.card-number{
  @apply block text-4xl font-bold text-center;
}

.tableDashboard{
  @apply table border-collapse w-full;

  & th,td{
    @apply border border-solid;
    @apply px-2 h-6 leading-6;
    @apply align-middle
  }

  & th{
    @apply border border-solid;
    @apply text-lg font-semibold;
    @apply bg-primary text-white border-primary;
  }

  & tr{
    @apply h-8 hover:bg-sky-50;
  }
}

.btn-error{
  background-color: var(--error) !important;
  border-color: var(--error) !important;
}