.header{
  @apply absolute top-0 left-0 w-full;
  @apply bg-white shadow-sm block;
  @apply py-4 px-8;
  @apply sm:relative sm:w-auto;
  @apply sm:flex sm:justify-between sm:items-center;
}

.header-title-div{
  @apply flex justify-between items-center;
  @apply sm:mr-10 sm:w-auto;
}

.header-title{
  @apply text-center font-extrabold text-lg;
  @apply  sm:text-left;
}

.header-menu-icon{
  @apply cursor-pointer sm:hidden;

  &.hidden-menu{
    @apply hidden;
  }
}

.header-nav{
  @apply flex flex-col items-center mt-2 gap-1;
  @apply sm:w-1/2 sm:flex-row sm:justify-around sm:max-w-sm sm:gap-0 sm:mt-0;

  &.hidden-nav{
    @apply hidden;
    @apply sm:flex;
  }

  & > *{
    @apply w-full sm:w-auto;
  }
}
