.button{
  @apply px-2 py-1 capitalize text-sm;
  @apply border rounded-sm min-w-[6rem];
  @apply transition-all ease-in-out duration-300;
  @apply hover:shadow-md;

  &.contained{
    @apply bg-primary text-white border-primary;
    @apply hover:contrast-150;
  }

  &.outlined{
    @apply border-primary text-primary;
    @apply bg-transparent duration-500;
    @apply hover:bg-primary hover:text-white;
  }

  &:disabled{
    @apply bg-gray-400 border-gray-400;
    @apply cursor-not-allowed;
  }
}