@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

:root{
  --primary: #1e2587;
  --primaryDark: #0e0347;
  --background: #f4f4f7;
  --error: #f34545;
}

body{
  @apply bg-background text-primaryDark;
  font-family: 'Poppins', sans-serif;
}

body, #root, .app{
  @apply min-h-screen flex flex-col;
}

.main-content{
  @apply mt-[3.75rem] flex-1 pb-8;
  @apply sm:mt-0;
}

.center{
  @apply flex items-center justify-center;
}